[alias]
	st = status
	di = diff
	ci = commit
	co = checkout
[color]
	ui = auto
[user]
	name = Ash Berlin
	email = ash_github@firemirror.com
[core]
	gitproxy = "socks-nc" for github.com
	gitproxy = "socks-nc" for callisto.firemirror.com
