/Desktop/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Sites/
/.Trash/
/.account
/Public/
.*.sw[op]
/.ssh/
/var/*
/.viminfo
/.cpanm
.DS_Store
/perl5/
/.cpan/
/.cups/
/.sqlite_history
/.subversion/
/code/
