[alias]
	di = diff
	ci = commit
	co = checkout
	glog = log --pretty=oneline --topo-order --graph --abbrev-commit --decorate
	st = status -sb
	branch-migrations = !git diff --name-only $(git merge-base HEAD master)..HEAD -- db/migrate/
	ls = log --pretty=format:\"%C(yellow)%h%C(auto)%d\\ %Creset%s%Cblue\\ [%an]\" --decorate --graph
[color]
	ui = auto
[user]
	name = Ash Berlin
	email = ash_github@firemirror.com
[core]
	#gitproxy = "socks-nc" for github.com
	gitproxy = "socks-nc" for callisto.firemirror.com
	excludesfile = ~/etc/git/excludes
  autocrlf = input
[push]
	default = current
[github]
	user = ashb
	token = 89bb0e1229455ff2ea22560d6aa3f186

[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
  insteadOf = "github:"
[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
  insteadOf = "gist:"
[url "gitosis@callisto.firemirror.com:"]
  insteadOf = "callisto:"
  insteadOf = "digiresults:"
[transfer]
	fsckObjects = true
[receive "fsck"]
	badtimezone = warn
[merge]
	ff = only
[fetch]
	prune = true
[diff]
	compactionHeuristic = true
[commit]
	verbose = true
