# Default dirs in home dir
/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures/
/Sites/
/Public/
/.Trash/
/.account

# Don't want this file anywhere
.DS_Store

# vim files.
/.viminfo
.*.sw[op]

/var/*

/.ssh/

# Ruby
/.rvm/

# Perl
/.cpanm
/perl5/
/.cpan/
/.cups/
/.sqlite_history
/.subversion/

# This is not part of the homedir stuff, init
/code/

# Don't ignore .gitignore files anywere - we need them for creating 'emtpy' dirs
!.gitignore
\.*
