# Default dirs in home dir
/Applications/
/Calibre Library/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures/
/Sites/
/Public/
/VirtualBox VMs/
/.Trash/
/.account
/code/
/tmp/

# Don't want this file anywhere
.DS_Store

# vim files.
/.viminfo
.*.sw[op]

/var/*

/.ssh/

# Ruby
/.rvm/

# Perl
/.cpanm
/perl5/
/.cpan/
/.cups/
/.sqlite_history
/.subversion/

# compiled python files
*.pyc

# Doesn't really belong under /etc/ but...
/etc/rbenv

# Sublime Package Control state file. local only
/etc/sublime/Packages/User/Package Control.last-run

/etc/vim/bundle/*
etc/vim/spell/*


# Don't ignore .gitignore files anywere - we need them for creating 'emtpy' dirs
/\.*
!.gitignore

.ch.env
