[submodule "etc/tmux/plugins/tpm"]
	path = etc/tmux/plugins/tpm
	url = github:tmux-plugins/tpm
[submodule "/Users/ash/etc/zsh/modules/pure"]
	path = /Users/ash/etc/zsh/modules/pure
	url = github:sindresorhus/pure
