[submodule "etc/tmux/plugins/tpm"]
	path = etc/tmux/plugins/tpm
	url = github:tmux-plugins/tpm
[submodule "etc/zsh/modules/pure"]
	path = etc/zsh/modules/pure
	url = github:sindresorhus/pure
[submodule "etc/zsh/modules/zsh-history-substring-search"]
	path = etc/zsh/modules/zsh-history-substring-search
	url = github:zsh-users/zsh-history-substring-search
