[submodule "etc/sublime/Packages/Package Control"]
	path = etc/sublime/Packages/Package Control
	url = github:wbond/sublime_package_control.git
[submodule "etc/vim/bundle/salt-vim"]
	path = etc/vim/bundle/salt-vim
	url = github:saltstack/salt-vim
